<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xbcheng.wenwen.mapper.FeedMapper">
  <resultMap id="BaseResultMap" type="com.xbcheng.wenwen.model.Feed">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, created_date, user_id, data, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from feed
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from feed
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xbcheng.wenwen.model.Feed">
    insert into feed (id, created_date, user_id, 
      data, type)
    values (#{id,jdbcType=INTEGER}, #{createdDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{data,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xbcheng.wenwen.model.Feed">
    insert into feed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xbcheng.wenwen.model.Feed">
    update feed
    <set>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="data != null">
        data = #{data,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xbcheng.wenwen.model.Feed">
    update feed
    set created_date = #{createdDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      data = #{data,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getUserFeeds" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from feed
    <if test="userIdList!= null">
      where user_id in
      <foreach collection="userIdList" item="userId" index="index" open="(" close=")" separator=",">
        #{userId,jdbcType=INTEGER}
      </foreach>
    </if>
    order  by created_date desc
  </select>

</mapper>