<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
    <script type="text/javascript" src="/wenwen/scripts/main/jquery.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/base/base.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/base/util.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/base/event.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/util/action.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/util/business.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/component/component.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/component/popup.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/component/popupAdd.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/component/popupMsg.js"></script>
    <script type="text/javascript" src="/wenwen/scripts/main/site/home.js"></script>
</div>
